# Environment files
.env
!.env.example

# Virtual environment
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/

# Logs
*.log